@import "../variables.modules";

nav {
  transition: $transition;
  margin-top: 20px;
}

.active {
  border-bottom: 5px solid;
  border-image-slice: 1;
}

li {
  transition: $transition;
  font-size: 16px; // ou essaye 18px si tu veux plus grand

  &:hover {
    transform: translateY(-3px);
    transition: $transition;
  }
}

.link:hover {
  color: unset;
}




// logo style

.logo{
  width: 60px !important;
  height: 25px;
}